.phones-style{
    display: grid;
    grid-template-columns:4fr 1fr;
   
}
.singlePhone{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap : 20px;
    
}
.cart{
    background-color: rgb(233, 241, 241);
    height: 25%;
    border-radius: 20px;
}