.phone{
    /* border: 1px solid; */
    background-color: rgba(233, 229, 224, 0.36);
    border-radius: 20px;
}
.add-btn{
  border: none;
  background: none;
  font-weight: 700;
  padding: 15px;
}
.icon{
    font-size: large;
    margin-left: 10px;
}